<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}InfraQue{% endblock %}</title>
</head>
<body>

<nav>
    {% if session.get("user_id") %}

        <!-- ✅ LOGGED IN -->
        <a href="{{ url_for('main.dashboard') }}">Dashboard</a>

        <a href="{{ url_for('requests.create_request') }}">Create Request</a>

        <a href="{{ url_for('requests.my_requests') }}">My Requests</a>

        {% if session.get("role") == "Admin" %}
            <a href="{{ url_for('admin.admin_home') }}">Admin</a>
        {% endif %}

        {% if session.get("role") == "Engineer" %}
            <a href="{{ url_for('admin.engineer_home') }}">Engineer</a>
        {% endif %}

        <a href="{{ url_for('auth.logout') }}">Logout</a>

    {% else %}

        <!-- ❌ GUEST -->
        <a href="{{ url_for('auth.login') }}">Login</a>

        <a href="{{ url_for('auth.register') }}">Register</a>

    {% endif %}
</nav>

<hr>

{% block content %}{% endblock %}

</body>
</html>