<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>

{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}    

<h1>Register</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST">
    {{ form.hidden_tag() }}

    <p>{{ form.username.label }}</p>
    {{ form.username }}

    <p>{{ form.email.label }}</p>
    {{ form.email }}

    <p>{{ form.password.label }}</p>
    {{ form.password }}

    <p>{{ form.confirm_password.label }}</p>
    {{ form.confirm_password }}

    <br><br>

    {{ form.submit }}
</form>

{% endblock %}

</body>
</html>